<div class="modal fade" id="accomodationsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <h5 id="accomodations-modal-title">Accomodations</h5>
      <div class="modal-body">
        <div id="welcome-modal-content">
          <p>
            &emsp;Ozark Outdoors is about an hour outside of St. Louis. So, if need be, you can defintely make it back into town after the festivities.  Otherwise, we've reserved a few different lodging options for you!  You can find more information on <a href="https://ozarkoutdoors.net/meramec-river-lodging/">Ozark Outdoor's</a> website.
            The choices range from smaller motel rooms, to larger cabins, to even an even larger chalet that can sleep up to 16 people.  Just call Ozark Outdoors at 573-245-6837 and say you're with the 'Mathbone' (pronounced math-boney) wedding.  Let us know if you have any questions or concerns.d
          </p>
        </div>  
      </div>
    </div>
  </div>
</div>