<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <h4>What To Know</h4>
              <ul class="list-group">
                <li class="list-group-item">The wedding's at 4.  Drinks and snacks before.</li>
                <li class="list-group-item"></li>
              </ul>
            </div>
            <div class="col-lg">
              <h4>What To Bring/Wear</h4>
                <li class="list-group-item">Camping stuff if you wanna camp.</li>
                <li class="list-group-item">No need to wear format clothes.</li>
              <ul class="list-group">
                
              </ul>
            </div>
            <div class="col-lg">
              <h4>Where To Go</h4>
              <ul class="list-group">
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>