<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="container">
          <div id="info-lists" class="row">
            <div class="col-lg">
              <h4>Main Deets</h4>
              <ul >
                <li>Ceremony is at 4PM. Drinks, food, games and music to follow</li>
                <li>The address: 200 Ozark Outdoor Lane, Leasburg, MO 65535</li>
                <li>All festivities will be outdoors!</li>
                <li>For our registry click <a href="https://www.myregistry.com/wedding-registry/Michelle-Carbone-and-Cory-Mathis-St-Louis-MO/1658085">here</a>.</li>
                
              </ul>
            </div>
            <div class="col-lg">
              <h4>What To Bring/Wear</h4>
              <ul>
                <li>Casual or dressy, your choice!</li>
                <li>The venue is on the riverfront! Bring swimwear if you want to swim or float on Sunday.</li>
                <li>We'll provide linens for the lodgings that come with sheets, bedspreads, etc.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>