<div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <h1>Thanks! Here's Some More Info.</h1>
        <ul id="info-lists">
          <li><%=fa_icon("fire")%>&nbsp;&nbsp;We're registered <a href="https://www.myregistry.com/wedding-registry/Michelle-Carbone-and-Cory-Mathis-St-Louis-MO/1658085">here</a></li>
          <li><%=fa_icon("fire")%>&nbsp;&nbsp;Bring your camping stuff! Michelle and I are gonna be tent camping</li>
          <li><%=fa_icon("fire")%>&nbsp;&nbsp;Bring your swimsuits and float with us the next day!</li>
        </ul>
      </div>
       
    </div>
  </div>
</div>