<div id="coming-soon-container">
  <%=image_tag("moose.svg", id: "moose-icon")%>
  <div id="coming-soon-logo">
    <h1>Mathis/Carbone Wedding Website</h1>
    <h2>Coming Soon!<wbr></h2>
  </div>
</div>
