<div id="main-index-container">
  <%=render "welcome_modal"%>
  <!-- <div class="row">
    <div id="main-index00" class="col-lg-4">
      <%#=image_tag("invite_drawing.jpg", size:"390x282")%>
    </div>
    <div id="main-index01" class="col-lg-8">
      <div>Cory Mathis</div>
      <div>&</div>
      <div>Michelle Carbone</div>
    </div>
  </div>
  <div class="row">
    <div id="main-index11" class="col-lg-12">
      <div>
        <p>
          We're so excited for you to celebrate with us on our wedding day! You can find details on the info and accomdations pages but in short, we're camping!  We understand tenting it isn't for everybody so luckily <a href="#">Ozark Outdoors</a> offers a variety of lodging options if you want to spend the night with us!  If not, the venue is about an hour outside of St. Louis so feel free to carpool in and head back home the same day!
        </p>
        <p>
          There will be food and drink a'plenty, lawn games like washers and oversized scrabble, bonfires and a beautiful river view!  We hope you can spend this day with us but if not no worries.  Either way, let us know what your plans are by filling out the <a href="#">RSVP form</a>.  Lodging info, driving directions and any other info you might need are provided in the links above.  If you have specific questions feel free to call or text Cory at 314-856-8484 or email at <a href="mailto:coryrmathis@gmail.com">coryrmathis@gmail.com</a>.
        </p>
      </div>
    </div>
  </div> -->
  
</div>