#accomodationsModal {
  .modal-content{
    padding: 50px;
    font-family: 'Handlee', cursive;
    opacity: .9;
  }

  #accomodations-modal-title {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;

  }
}