#coming-soon-container {
  height: 100%;
  background-image: url(asset-path('river_bend.jpg'));

}

#moose-icon {
  top: 4%;
  left: 42%;
  height: 18em;
  position: fixed;
}

#coming-soon-logo {
  position: fixed;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  top: 33%;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;

}

