#infoModal {
  .modal-body{

    h4{
      font-family: 'Sacramento', cursive;
      text-align: center;
    }

  }

  #info-lists{
    font-family: 'Handlee', cursive;
  }

  #info-lists ul {
    list-style-type: disc;
  }
}

