#rsvpModal {
  .modal-content{
    padding: 50px;
    font-family: 'Handlee', cursive;
    opacity: .9;
  }

  #rsvp-modal-title {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;

  }
  input[type="submit"]{
    font-family: 'Handlee', cursive;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}