#thanksModal {
  .modal-content{
    opacity: .9;
  }
  
  .modal-body{
    margin: 70px;
    margin-top: 30px;
    padding: 10px;
    h1{
      font-family: 'Sacramento', cursive;
      text-align: center;
      font-weight: 500;
    }

  }

  #info-lists{
    font-family: 'Handlee', cursive;
    list-style-type: none;
    font-size: 1.2em;
    list-style-type: none;
  }

  #info-lists ul {
    list-style-type: disc;
  }
}