#welcomeModal {
  .modal-content{
    padding: 50px;
    font-family: 'Handlee', cursive;
    opacity: .9;
  }

  a {
    color: #61a00e;
  }

  #welcome-modal-title {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 2em;
  }
  
}


